{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
  {% block stylesheets %}
      {{ parent() }}
      <link rel="stylesheet" href="{{ asset('css/login.css') }}" >
  {% endblock %}
{% block body %}
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Login</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Forget Password Section-->
        <h1>Mot de passe oublié</h1>
        {{ form(emailForm) }}
{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('js/login.js') }}"></script>
        {% endblock %}