{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
  {% block stylesheets %}
      {{ parent() }}
  {% endblock %}
{% block body %}
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Login</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {{ form_start(emailForm) }}
<form  method="post"  class="contact__form">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-8 d-flex justify-content-center p-1 m-1">
            <p>Lost password?</p>
        </div>
        <div class="col-lg-8 col-md-8 d-flex justify-content-center">
            <p>Ohk, don't panic. You can recover it here.</p>
        </div>
        <div class="col-lg-6 col-md-8 p-1 m-1">
            <p>Email</p>
            {{ form_widget(emailForm.email, {'label_attr' : {'class': 'control-label' }}) }}
        </div>

    </div>
    <div class="d-flex justify-content-center">

        <div>
            <button type="submit" class="site-btn">Send me</button>

        </div>

    </div>
    <div class="d-flex justify-content-center">
        <div class="p-3 m-3">
            <p>You remember your Password? Brilliant! <b><a style="color:#000b16" href="{{ path('app_login') }}" >Login here</a></b></p>
        </div>

    </div>

</form>

{% endblock %}
        {% block javascripts %}
            {{ parent() }}
        {% endblock %}