{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block body %}
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Register</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="pt-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm,{'attr':{'novalidate': 'novalidate'}}) }}
                <form  method="post"  class="contact__form">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8 col-md-8 d-flex justify-content-center">
                        <p>Sign Up in Seconds!</p>
                        </div>
                            <div class="col-lg-8 col-md-8 d-flex justify-content-center">
                        <p>Signup using your Email address</p>
                            </div>
                        <div class="col-lg-6 col-md-8 p-1 m-1">

                            {{ form_widget(registrationForm.nom,{ 'attr': {'class': 'form-control', 'placeholder' : 'Full Name'}}) }}
                        </div>

                        <div class="col-lg-6 col-md-8 p-1 m-1" >

                            {{ form_widget(registrationForm.email,{ 'attr': {'class': 'form-control', 'placeholder' : 'Email Adress'}}) }}
                        </div>

                        <div class="col-lg-6 col-md-8 p-1 m-1">

                            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder' : 'Password'}}) }}
                        </div>
                        <div class="col-lg-6 col-md-8 p-1 m-1">

                            {{ form_widget(registrationForm.confirm_password,{ 'attr': {'class': 'form-control', 'placeholder' : 'Retype password'}}) }}
                        </div>

                    </div>
                    <div class="d-flex justify-content-center p-1 m-1">

                        <div>
                            <button type="submit" class="site-btn">Sign UP</button>

                        </div>

                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="p-3 m-3">
                            <p>Don't have an account? <b><a style="color:#000b16" href="{{ path('app_login') }}" >Login here</a></b></p>
                            <p>Forget password? It's ok.<b><a style="color:#000b16" href="{{ path('app_forgotten_password') }}" >Recover here</a></b></p>
                        </div>

                    </div>

                </form>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>


{% endblock %}
        {% block javascripts %}
            {{ parent() }}
        {% endblock %}


