<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        {% for message in app.flashes('message') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src={{ asset('img/logo.png') }} alt=""></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/accueil">Home</a></li>
                            <li><a href="#">Listing</a>
                            <ul class="dropdown">
                                <li><a href="/restaurant">Restaurant</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__menu__right">
                        <a href="#" class="primary-btn"><i class="fa fa-plus"></i>Add Listing</a>
                        {% if app.user %}
                        <a href="{{ path('profile',{'id': app.user.id})}}" class="login-btn"><i class="fa fa-user"></i></a>
                            <a href="{{ path('app_logout') }}" class="login-btn"><i class="fa-sign-out"></i></a>
                            {% else %}
                                <a href="/login" class="login-btn"><i class="fa fa-user"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->