{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Transport</th>
                <th>Hotel</th>
                <th>Restaurant</th>
                <th>DateIn</th>
                <th>Guide</th>
                <th>NumDays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.transport }}</td>
                <td>{{ reservation.hotel }}</td>
                <td>{{ reservation.restaurant }}</td>
                <td>{{ reservation.dateIn ? reservation.dateIn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.guide }}</td>
                <td>{{ reservation.numDays }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
