{% extends 'back.html.twig' %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard </li>
                            {{ include('guides/_delete_form.html.twig', {'button_label': 'Delete'}) }}
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div>
<div class="card-body" >
            <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Nom : </th>
                <td>{{ guide.nomGui }}</td>
            </tr>
            <tr>
                <th>Prenom : </th>
                <td>{{ guide.prenomGui }}</td>
            </tr>
            <tr>
                <th>Etat : </th>
                <td>{{ guide.etatGui }}</td>
            </tr>
            <tr>
                <th>Description  : </th>
                <td>{{ guide.descGui }}</td>
            </tr>
            <tr>
                <th>Tel Num° : </th>
                <td>{{ guide.numTelGui }}</td>
            </tr>
            <tr>
                <th>Image  : </th>
                    <td><img src="/uploads/images/{{ guide.photoGui }}" alt="" width="140" height="200"></td>
            </tr>

        </tbody>
            </table>
            <a class="btn btn-success" href="{{ path('guides_index') }}">Back to list</a>
            <a class="btn btn-primary" href="{{ path('guides_edit', {'id': guide.id}) }}">edit</a>
</div>
</div>
</div>
{% endblock %}
