{% extends 'layout.html.twig' %}

{% block title %}Guides{% endblock %}

{% block body %}
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Show</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <h1>Guides</h1>

    <table class="table centered">
        <tbody>
            <tr>
                <th>Nom : </th>
                <td>{{ guide.nomGui }}</td>
            </tr>
            <tr>
                <th>Prenom : </th>
                <td>{{ guide.prenomGui }}</td>
            </tr>
            <tr>
                <th>Etat : </th>
                <td>{{ guide.etatGui }}</td>
            </tr>
            <tr>
                <th>Description  : </th>
                <td>{{ guide.descGui }}</td>
            </tr>
            <tr>
                <th>Tel Num° : </th>
                <td>{{ guide.numTelGui }}</td>
            </tr>
            <tr>
                <th>Image  : </th>

                <td>
                    <img src= " {{ asset('public/uploads' ~ guide.photoGui) }}"
                alt ="" style = "width: 50px;
                  height: 50px"></td>

            </tr>
        </tbody>
    </table>

        <a  class="btn btn-dark centered" href="{{ path('guides_index') }}">Liste Guides</a>>
        <a  class="btn btn-success centered" href="{{ path('guides_edit', {'id': guide.id}) }}">Modifier</a>


{{ include('guides/_delete_form.html.twig') }}
</div>>
{% endblock %}
