{% extends 'back.html.twig' %}

{% block title %}Profile {{ app.user.nom }}{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Reservations</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Reservations</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="container">
            <div class="col-lg-8 col-md-8">
                <h1>Listes des Ubers </h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>nom_uber</th>
                        <th>num_tel_uber</th>
                        <th>field_uber</th>
                        <th>prix_uber</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for uber in ubers %}
                        <tr>
                            <td>{{ uber.id }}</td>
                            <td>{{ uber.nom_uber }}</td>
                            <td>{{ uber.num_tel_uber }}</td>
                            <td>{{ uber.field_uber }}</td>
                            <td>{{ uber.prix_uber }}</td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h1>Listes des Voitures </h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>marque_car</th>
                        <th>price_car</th>
                        <th>address_car</th>
                        <th>owner_tel</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.id }}</td>
                            <td>{{ car.marque_car }}</td>
                            <td>{{ car.price_car }}</td>
                            <td>{{ car.address_car }}</td>
                            <td>{{ car.owner_tel }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <a href="{{ path('admin') }}">Retourner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}