{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    <!-- Contact Section Begin -->
<div class="card card-primary">
    <div class="card-body">
        <form>
            <div class="form-group">
                            <div class="form-group">
                                {{ form_label(form.nom_rest, 'Nom restaurant'|trans, {'label_attr' : {'class': '' }}) }}
                                {{ form_widget(form.nom_rest) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.add_rest, 'Adresse restaurant'|trans, {'label_attr' : {'class': 'control-label' }}) }}
                                {{ form_widget(form.add_rest) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.num_tel_rest, 'Phone restaurant'|trans, {'label_attr' : {'class': 'control-label' }}) }}
                                {{ form_widget(form.num_tel_rest) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.photo_rest, 'Photo restaurant'|trans, {'label_attr' : {'class': 'control-label' }}) }}
                                {{ form_widget(form.photo_rest) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.catalogue, 'id catalogue'|trans, {'label_attr' : {'class': 'control-label' }}) }}
                                {{ form_widget(form.catalogue) }}
                            </div>

                        </div>
                            <a class="btn btn-success" href="{{ path('restaurants_index') }}">back to list</a>
                            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>


            </div>
        </form>
    </div>
</div>
    <!-- Contact Section End -->
{{ form_end(form) }}
