{% extends 'back.html.twig' %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Liste Restaurant</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Liste Restaurant </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="card">
            <div class="card-header">
                <a  href="{{ path('restaurants_new') }}">Create new</a>
                <input type="text" id="search" class="form-control" placeholder="Search">


            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <table id="t" class="table table-bordered">

                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Nom restaurant</th>
                        <th>Adresse restaurant</th>
                        <th>Phone restaurant</th>
                        <th>Photo restaurant</th>
                        <th>Catalogue</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="all">
                    {% for restaurant in restaurants %}
                        <tr>
                            <td>{{ restaurant.id }}</td>
                            <td>{{ restaurant.nomRest }}</td>
                            <td>{{ restaurant.addRest }}</td>
                            <td>{{ restaurant.numTelRest }}</td>
                            <td><img src="{{ asset('uploads/images/' ~ restaurant.photoRest) }}" width="70" height="70"></img></td>
                            <td>{{ restaurant.idCata }}</td>
                            <td>
                                <a class="btn btn-success btn-sm rounded-0" href="{{ path('restaurants_show', {'id': restaurant.id}) }}"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-primary btn-sm rounded-0" href="{{ path('restaurants_edit', {'id': restaurant.id}) }}"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm rounded-0" href="{{ path('restaurants_edit', {'id': restaurant.id}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tbody id="search">
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- /.content-wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_restaurant') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        //console.log(retour);
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    '<tr><td> '+obj.id+' ' +
                                    ' </td><td>    '+obj.nom_rest+'' +
                                    '  </td><td>'+obj.add_rest+'' +
                                    '  </td><td>'+obj.num_tel_rest+'' +
                                    '  </td><td><img src="uploads/images/'+obj.photo_rest+'" width="70" height="70"></img></td><td>'+obj.id_cata+'' +
                                    ' </td><td><a href="/restaurants/'+obj.id+'">show</a> </br><a href="/restaurants/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}

