{% extends 'base.html.twig' %}

{% block title %}Cars index{% endblock %}

{% block body %}
    <h1>Cars index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque_car</th>
                <th>Price_car</th>
                <th>Address_car</th>
                <th>Photo_car</th>
                <th>Owner_tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.marqueCar }}</td>
                <td>{{ car.priceCar }}</td>
                <td>{{ car.addressCar }}</td>
                <td>{{ car.photoCar }}</td>
                <td>{{ car.ownerTel }}</td>
                <td>
                    <a href="{{ path('cars_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('cars_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cars_new') }}">Create new</a>
{% endblock %}

{% extends 'back.html.twig' %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Liste Rbers</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Liste Ubers </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="card">
            <div class="card-header">
                <a class="btn btn-primary" href="{{ path('uber_new') }}">Add uber</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="input-group input-group-sm">
                    <input type="text" id="search" class="form-control fas fa-search" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <br>
                <table id="t" class="table table-bordered">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marque_car</th>
                        <th>Price_car</th>
                        <th>Address_car</th>
                        <th>Photo_car</th>
                        <th>Owner_tel</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.id }}</td>
                            <td>{{ car.marqueCar }}</td>
                            <td>{{ car.priceCar }}</td>
                            <td>{{ car.addressCar }}</td>
                            <td>{{ car.ownerTel }}</td>
                            <td><img src="{{ asset('uploads/images/' ~ car.photoCar) }}" width="70" height="70"></td>
                            <td>
                                <a class="btn btn-success btn-sm rounded-0" href="{{ path('cars_edit', {'id': car.id}) }}"><i class="fa fa-edit"></i></a>

                                <form method="post" action="{{ path('cars_delete', {'id': car.id}) }}" onsubmit="return confirm('Are you sure you wanna delete this ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uber.id) }}">
                                    <button class="btn btn-danger btn-sm rounded-0"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tbody id="search">
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- /.content-wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_uber') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        //console.log(retour);
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    ' </td><td>    '+obj.nom_uber+'' +
                                    '  </td><td>'+obj.num_tel_uber+'' +
                                    '  </td><td>'+obj.field_uber+'' +
                                    '  </td><td>'+obj.Prix_uber+'' +
                                    '  </td><td><img src="/uploads/images/'+obj.Photo_uber+'" width="70" height="70">
                                ' </td><td><a href="/uber/'+obj.id+'">show</a> </br><a href="/uber/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}

