{% extends 'base.html.twig' %}

{% block title %}{{guide.nomGui}}{% endblock %}

{% block body %}
    <div class="breadcrumb-area set-bg" data-setbg={{ asset('img/breadcrumb/breadcrumb-normal.jpg') }}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Register</h2>
                        <div class="breadcrumb__option">
                            <a href="/accueil"><i class="fa fa-home"></i> Home</a>
                            <span>Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <table class="table contact__form">
            <tbody>
            <tr>
                <th>Nom : </th>
                <td>{{ guide.nomGui }}</td>
            </tr>
            <tr>
                <th>Prenom : </th>
                <td>{{ guide.prenomGui }}</td>
            </tr>
            <tr>
                <th>Etat : </th>
                <td>{{ guide.etatGui }}</td>
            </tr>
            <tr>
                <th>Description  : </th>
                <td>{{ guide.descGui }}</td>
            </tr>
            <tr>
                <th>Tel Num° : </th>
                <td>{{ guide.numTelGui }}</td>
            </tr>
            <tr>
                <th>Image  : </th>
                <td><img src="/uploads/images/{{ guide.photoGui }}" alt="" width="140" height="200"></td>
            </tr>

            </tbody>
        </table>

    </div>
    </div>
{% endblock %}
